<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/">
      

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <style>
        
        body {
            margin-bottom: 40px;
        }
    
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        
        .bg-dark {
            background-color: #DC3545 !important;
           
        }
        
        .bg-dark a {
            color: white !important;
        }
        
       
        a.dropdown-item {
            color: black !important;
        }

    .jumbotron {
        height: 500px;
        background-image: url("https://cdn.pixabay.com/photo/2014/07/09/12/17/live-concert-388160_1280.jpg");
        background-size: cover;
        background-position: right bottom;
        color: white;
    }
    
    .jumbotron h1 {
        margin-top: 100px !important;
        font-weight: bold !important;
    }
        
    .t1 {
      font-size: 24px;
      font-family: 'Solway', serif;
      color: white;
      letter-spacing: 1px;
      font-weight: bold;
      padding-left: 30px;
      
    }

    .t2 {
      font-size: 24px;
      font-family: 'Solway', serif;
      letter-spacing: 1px;
      font-weight: bold;
      height: 100;
      background: #0E4875;
      border-radius: 50%;
      padding: 5px;
    }
        
     ul {
        list-style: none;
    }
        
     .left {
        float: left;
    }

    .right {
        float: right;
    }
        
    #legalnav li {
        float: right;
        margin: 0px 5px;
        font-size: 1em;
        color: #DC3545;
    }
    #legalnav li a {
        text-decoration: none;
        color: black;
        font-size: 1em;
    }

    #legalnav li a:hover{
        text-decoration: underline;
    }
    .social {
        height: 25px;
    }
    .social:hover {
        height: 35px;
    }
        

               
</style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         
  </head>

  <body>
      
  <div class = "container-fluid">

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md bg-dark nav-dark text-white">
        <a class="navbar-brand" href="/event"><span class="t1">Big</span><span class="t2 text-white"> Events </span></a>
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/event">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('event_new') }}">Add Event</a>
            </li>
          </ul>
            
             <form class="form-inline my-2 my-lg-0">
              <div class="dropdown">
                  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Category
                  </button>
                  <div class="dropdown-menu text-dark" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href=" /event/filter/music">Music</a>
                    <a class="dropdown-item" href="/event/filter/theater">Theater</a>
                    <a class="dropdown-item" href="/event/filter/exhibition">Exhibition</a>
                </div>
             </div>
            </form>
          
        </div>
      </nav>
    </header>
  </div>
      
    <div class = "container-fluid">  
    <div class="jumbotron jumbotron">
        <div class="container">
            <h1 class="display-4">Global Event Management</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        </div>
    </div>
      </div>

   <div class = "container-fluid">
       
    <div class = "row">
        
        <div class = "col-md-12">
       
            {% block body %}{% endblock %}
            
        </div>
        
          <hr class="clearleft" id="footerhr">
                <ul class="nav justify-content-center">
                    <p id="company">&copy;Global Event Management, Inc.</p>
               
                <div class="right">
                    <ul id="legalnav">
                        <li><img src="{{ asset('images/instagram.png') }}" class="social"></li>
                        <li><img src="{{ asset('images/twitter.png') }}" class="social"></li>
                        <li><img src="{{ asset('images/facebook.png') }}" class="social"></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Datenschutz</a></li>
                        <li><a href="#">Nutzungsbedingungen</a></li>
                    </ul>
                </div>

        
     
       
    </div>
      
      
    {% block javascripts %}{% endblock %}
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  </body>
</html>